.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

h1 {
  margin-left: 2.5rem;
}

.new-entry-button {
  position: relative;
  float: right;
  bottom: 50px;
}

.nav-title {
  margin-left: 20rem;
  position: absolute;
}

.no-entries {
  position: relative;
  left: 110px;
}

.entries-nav {
  position: relative;
  bottom: 28px;
  left: 120px;
  color: white;
  font-size: small;
}
